---
import BaseLayout from '../layouts/BaseLayout.astro';
import CarruselMain from '../components/CarruselMain.astro';
---

<BaseLayout title="GPS Móvil - Monitoreo GPS" >

	<CarruselMain />


  <section class="relative flex mt-6 max-w-[1400px] mx-auto bg-slate-950 rounded-2xl ">
		<img
		  src="/images/vehiculo-movimiento.avif"
		  class="w-1/2 aspect-[14/16] object-cover max-[650px]:w-full max-[650px]:h-200"
		/>
		<div class="flex-1 flex flex-col pl-2 items-center
			max-[650px]:absolute	
			max-[650px]:inset-0
			max-[650px]:z-5
    max-[650px]:bg-slate-950/80
		">
			<div class="max-w-[450px] flex-1 flex justify-around flex-col">
				<h3 class="text-2xl font-bold p-0 m-0 text-center">Beneficios económicos que han reportado nuestros clientes</h3>

				<p>- Conocimiento de la ubicación de cada vehículo en cada momento</p>
				<p>- Conocer el estado y la ubicación de la carga en todo momento</p>
				<p>- Disminución de los tiempos improductivos</p>
				<p>- Puntualidad en las entregas y retiros</p>
				<p>- Disminución del uso inapropiado de los vehículos</p>
				<p>- Conocer la trazabilidad de la ruta origen-destino</p>
				<p>- Enviar el vehículo más cercano a un cierto trabajo</p>
				<p>- Disminución de gastos de combustible y mantención</p>
				<p>- Certificación para trabajos en faenas mineras</p>
				<p>- Recuperación de vehículos ante robo</p>
				<p>- Disminución de excesos de velocidad y accidentabilidad</p>
				<p>- Asistencia rápida al vehículo en caso de emergencia</p>
				<p>- Investigación y gestión mediante el uso de los registros históricos</p>
				<a href="/contacto" 
				class="bg-slate-800 text-cyan-400 p-3 rounded-lg text-center mx-auto border border-cyan-500/10 max-w-[200px]
				hover:bg-cyan-500/10 hover:border-cyan-500/50 transition duration-400 block
				active:bg-cyan-500/1 active:scale-95
				">
					Solicitar cotización</a>
			</div>


		</div>
	</section>
  
</BaseLayout>

