---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
---

<BaseLayout title="GPS Móvil" >
  <main class="relative w-full  flex items-center justify-center" >
	
	<section class="z-[-1] flex absolute inset-0">
		<img src="/images/tipos-de-camiones.jpg" alt="main" class="w-full h-full object-cover object-center"/>
	</section>
	<div class="flex flex-col w-full min-h-[70vh] items-center justify-center gap-5" style="background-color: rgba(0, 0, 0, 0.5);">

		<h1 class="text-4xl font-bold text-center">GPS Móvil</h2>
		<p class="text-center max-w-3xl mx-auto">
		Soluciones de seguimiento GPS y gestión de flotas para controlar vehículos y cargas en tiempo real, mejorar la seguridad y optimizar costos operativos.
		</p>

		<p class="text-center max-w-3xl mx-auto">
		Monitorea ubicaciones, recorridos y registros históricos desde nuestra plataforma, disponible en computador y dispositivos móviles.
		</p>
		<!--<p class="text-center max-w-4xl">GPS MÓVIL: control, seguridad y eficiencia para tu flota.</p>
	-->
		
		
		<Button color='green' label='Contáctanos' href="https://api.whatsapp.com/send?phone=56969187715">
        	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>	 
		</Button>
		<Button direcion="left" color='blue' label='Acceso a Plataforma MS03' href="https://ms03.trackingmate.com/?AspxAutoDetectCookieSupport=1"> 
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-rocket"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3" /><path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3" /><path d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
		</Button>
	</div>
	
  </main>

  <section class="relative flex mt-6 max-w-[1400px] mx-auto bg-slate-950 rounded-2xl ">
		<img
		  src="/images/vehiculo-movimiento.avif"
		  class="w-1/2 aspect-[14/16] object-cover max-[650px]:w-full max-[650px]:h-200"
		/>
		<div class="flex-1 flex flex-col pl-2 items-center
			max-[650px]:absolute	
			max-[650px]:inset-0
			max-[650px]:z-5
    max-[650px]:bg-slate-950/80
		">
			<div class="max-w-[450px] flex-1 flex justify-around flex-col">
				<h3 class="text-2xl font-bold p-0 m-0 text-center">Beneficios económicos que han reportado nuestros clientes</h3>

				<p>- Conocimiento de la ubicación de cada vehículo en cada momento</p>
				<p>- Conocer el estado y la ubicación de la carga en todo momento</p>
				<p>- Disminución de los tiempos improductivos</p>
				<p>- Puntualidad en las entregas y retiros</p>
				<p>- Disminución del uso inapropiado de los vehículos</p>
				<p>- Conocer la trazabilidad de la ruta origen-destino</p>
				<p>- Enviar el vehículo más cercano a un cierto trabajo</p>
				<p>- Disminución de gastos de combustible y mantención</p>
				<p>- Certificación para trabajos en faenas mineras</p>
				<p>- Recuperación de vehículos ante robo</p>
				<p>- Disminución de excesos de velocidad y accidentabilidad</p>
				<p>- Asistencia rápida al vehículo en caso de emergencia</p>
				<p>- Investigación y gestión mediante el uso de los registros históricos</p>
				<a href="/contacto" 
				class="bg-slate-800 text-cyan-400 p-3 rounded-lg text-center mx-auto border border-cyan-500/10 max-w-[200px]
				hover:bg-cyan-500/10 hover:border-cyan-500/50 transition duration-400 block
				active:bg-cyan-500/1 active:scale-95
				">
					Solicitar cotización</a>
			</div>


		</div>
	</section>
  
</BaseLayout>

