---
import Button from './Button.astro';
---


<main class="relative w-full  flex items-center min-h-[calc(100vh-85px)] justify-center" >

	<section class="jsCarousel absolute inset-0 flex overflow-x-auto overscroll-x-contain snap-x snap-mandatory touch-pan-x touch-pan-y scroll-smooth">

		<img src="/images/gflota2.png" alt="main" class="min-w-full h-full object-cover snap-start"/>
		<img src="/images/carrusel2.jpg" alt="main" class="min-w-full h-full object-cover snap-start"/>
		<img src="/images/1.avif" alt="main" class="min-w-full h-full object-cover snap-start"/>
		<img src="/images/gflota2.png" alt="main" class="min-w-full h-full object-cover snap-start"/>

	</section>

	<!-- FIN carrusel -->


	<!-- Contenido encima del carrusel -->

	<div class="pointer-events-none flex flex-col w-full items-center justify-center gap-4 z-2 backdrop-blur-[1px] py-4 text-lg rounded-xl" 
		style="background-color: rgba(0, 0, 0, .4); pointer-events-none">

		<h1 class="text-5xl font-bold text-center [text-shadow:0_2px_8px_rgba(0,0,0,0.9)]">GPS Móvil</h1>
		<p class="text-center max-w-3xl mx-auto [text-shadow:0_2px_8px_rgba(0,0,0,0.9)]">
		Soluciones de seguimiento GPS y gestión de flotas para controlar vehículos y cargas en tiempo real, mejorar la seguridad y optimizar costos operativos.
		</p>	

		<p class="text-center max-w-3xl mx-auto text-shadow-black [text-shadow:0_2px_8px_rgba(0,0,0,0.9)]">
		Monitorea ubicaciones, recorridos y registros históricos desde nuestra plataforma, disponible en computador y dispositivos móviles.
		</p>
		<!--<p class="text-center max-w-4xl">GPS MÓVIL: control, seguridad y eficiencia para tu flota.</p>
	-->
		
		
		<Button color='green' label='Contáctanos' href="https://api.whatsapp.com/send?phone=56969187715">
        	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>	 
		</Button>
		<Button direcion="left" color='blue' label='Acceso a Plataforma MS03' href="https://ms03.trackingmate.com/?AspxAutoDetectCookieSupport=1"> 
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-rocket"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3" /><path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3" /><path d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
		</Button>
	</div>
	
</main>



<script >
document.querySelectorAll('.jsCarousel').forEach(carousel => {
	const el = carousel as HTMLElement;
  const slideWidth = el.clientWidth;
  const totalSlides = el.children.length;

  setInterval(() => {
    const next = el.scrollLeft + slideWidth;
    const maxScroll = slideWidth * (totalSlides - 1);

    el.scrollTo({ left: next, behavior: 'smooth' });

    if (next >= maxScroll) {
      setTimeout(() => {
        el.style.scrollBehavior = 'auto';
        el.scrollLeft = 0;

        // volver a activar smooth
        requestAnimationFrame(() => {
          el.style.scrollBehavior = 'smooth';
        });
      }, 800);
    }
  }, 6500);
});
</script>


